# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/

# ==============================
# Python Cache
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Streamlit
# ==============================
.streamlit/secrets.toml

# ==============================
# Operating System Files
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Build Files
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Temporary Files
# ==============================
*.tmp
*.bak

# Large datasets
data/